@using Microsoft.Extensions.Caching.Memory;
@using static Mule.ModelService;

@inject IMemoryCache MemoryCache

@model IEnumerable<object>

@section scripts{
<script type="text/javascript" >
    function show_form() {
        $("#form").show();
    }

    function set_edit(obj) {
        for (var k in obj) {
            $("#" + k).val(obj[k]);
        }
        show_form();
    }

    function set_new(){
        $(':input').not(':button, :submit, :reset, :hidden, :checkbox, :radio').val('');
        $(':checkbox, :radio').prop('checked', false);
        show_form();
    }
</script>
}
<div class="box">
    <div class="tabs is-boxed is-medium">
        <ul>
            @foreach (var model in AllModels())
            {
                <li class='@string.Format("{0}", model.Name == ViewContext.RouteData.Values["controller"].ToString() ? "is-active" : "")'>
                    @Html.ActionLink(model.Name,"Index", model.Name)
                </li>
            }
        </ul>
    </div>
    <table class="table is-striped">
        <thead>
            <tr>
                @foreach (var col in GetPropertyInfo(Model.GetType()))
                {
                    <th>@col.Name.ToString()</th>
                }
                <th><a href="#" class="button is-info" onclick="set_new()">New</a></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model)
            {
                <tr>
                    @foreach (var col in GetModelValues(row, MemoryCache))
                    {
                        <td>@col.Value.ToString()</td>
                    }
                    <td><a href="#" class="button" onclick="set_edit(@ToJSON(row))">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div hidden id="form" >
    <div class="box">
        <div class="columns">
            <div class="column">
                @{Html.RenderPartial("Items/Create", Activator.CreateInstance(ModelType(Model.GetType())));}
            </div>
        </div>
    </div>
</div>